<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="MeetingsSection" type="MeetingSchedularApp.AppConfiguration, MeetingSchedularApp" />-->
    <section name="MeetingsSection" type="MeetingSchedularApp.AppConfiguration, MeetingSchedularApp"/>
  </configSections>
  <MeetingsSection>
    <Meetings>
      <Meeting isDisabled="true">
        <MeetingStartTime value="1230"/>
        <MeetingDurationInMins value="30"/>
        <AdvanceBookingAddDays value="0"/>
        <OrganiserEmailAddress value="organiser@email.com"/>
        <MeetingAttendees value="CommaOrSemiColSeparatedList@emails.com"/>
        <MeetingEmailSubject value="Subject"/>
        <MeetingEmailBody value="Test"/>
        <MeetingRoomFullyQualifiedName value="Fully Qualified Room Name"/>
        <IsResponseRequested value="false"/>
        <IsDailySchedule value="true"/>
        <ScheduledOnDays value=""/>
        <Token value="organiserpasswordinClearText" />
      </Meeting>
      <Meeting isDisabled="false">
        <MeetingStartTime value="1730"/>
        <MeetingDurationInMins value="60"/>
        <AdvanceBookingAddDays value="7"/>
        <OrganiserEmailAddress value="organiser@email.com"/>
        <MeetingAttendees value="CommaOrSemiColSeparatedList@emails.com"/>
        <MeetingEmailSubject value="Subject"/>
        <MeetingEmailBody value="Test"/>
        <MeetingRoomFullyQualifiedName value="Fully Qualified Room Name"/>
        <IsResponseRequested value="false"/>
        <IsDailySchedule value="true"/>
        <ScheduledOnDays value=""/>
        <Token value="organiserpasswordinClearText" />
      </Meeting>
    </Meetings>
  </MeetingsSection>

  <appSettings>
    <add key="LogFilePath" value="C:\Logs"/>
    <add key="OfficeURL" value="https://outlook.office365.com/EWS/Exchange.asmx"/>

    <add key="ClientSettings" value="May@2005"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
