################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeetingSchedularApp/bin/*
/MeetingSchedularApp/obj/*
